.question,.answerList {
  margin-bottom: 150;
}
.top {
  display: flex;
  justify-content: space-between;
}

.answerButton {
  background-color: blue;
  color: white;
}

.blueLetters {
  background-color: white;
  color: blue;
  border: white;
  font-size: larger;
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.finished, .score, .submission {
  text-indent: 42%;
}

.finished {
  margin-top: 150px;
}
.score {
  margin-top: 20px;
}